@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

body{
    background-color: #40a74978;
    font-family: 'Ubuntu';
    font-weight: 700;
}
*{
    margin: 0;
    padding: 0;
}
.header h1 {
    border-bottom: 2px solid black;
    margin-top: 10px;
    text-align: center;
    color: #0e2a5f;
    padding-bottom: 8px;
    margin-left: 1rem;
    margin-right: 1rem;
    
}
.btns {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.btn{
    padding: 5px;
    margin: 20px;
    border-radius: 20px;
    background-color: #145740;
    color: aliceblue;
}
a{
    color: #e9dd9bed;
}
h6{
    font-size: 2rem;
}